{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load urlify %}

{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2 ">
	{% if instance.image %}
	<img src="{{ instance.image.url }}" class="img-responsive"/>
	{% endif %}
<h1>{{title}} <small> {% if instance.draft %}<span style="color: red;">Draft</span>{% endif %} {{instance.publish}}</small> </h1>

{% if instance.user.get_full_name %}
<p>Author: {{instance.user.get_full_name}}</p>
{% endif %}
<div class="post-detail-item">
{{instance.get_markdown}}<br/>
</div>

<p><div class="fb-like" data-href="{{request.build_absolute_uri}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div></p>

<!--<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
Facebook</a>



<a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}/&title={{ instance.title }}&summary={{ instance.content|urlify }}&source={{request.build_absolute_uri}}">
Linkedin
</a>
-->
<hr>
<div>
	<p class="lead">Comments</p>
	<form method="POST" action=".">{% csrf_token %}
		{{ comment_form|crispy }}	
		<input type="submit" name="Post comment" class="btn btn-default">
	</form>
	
	<hr>
	{% for comment in comments %}
	<blockquote>
		<p>{{ comment.content }}</p>
		<footer>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago</footer>
	</blockquote>
	<hr>
	{% endfor %}
	
	
</div>



</div>
{% endblock content %}
